# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# heroicons
/src/assets/heroicons/**/*

# un-ignore outlined icons
!/src/assets/heroicons/outline/ChatAlt.jsx
!/src/assets/heroicons/outline/Clock.jsx
!/src/assets/heroicons/outline/Code.jsx
!/src/assets/heroicons/outline/Link.jsx
!/src/assets/heroicons/outline/Terminal.jsx

# un-ignore solid icons
!/src/assets/heroicons/solic/Mail.jsx
!/src/assets/heroicons/solic/Newspaper.jsx

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.env
src/tailwind.output.css
